<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- namespace命名空间,作用就是对sql进行分类化的管理,理解为sql隔离
    注意:使用mapper代理开发时，namespace有特殊作用,namespace等于mapper接口地址
 -->
<mapper namespace="house.domain.mapper.PropertyDailySignedMapper">
 
 
  <resultMap id="PropertyDailySignedResultMap" type="house.domain.PropertyDailySigned">    
    <!--  <id column="id" property="id"  jdbcType="BIGINT" />   -->   
        <result column="propertyTypeCode" property="propertyTypeCode"   jdbcType="VARCHAR"/>  
        <result column="propertyId" property="propertyId"   jdbcType="VARCHAR"/>  
        <result column="propertyName" property="propertyName"   jdbcType="VARCHAR"/>  
        
        <result column="district" property="district"   jdbcType="VARCHAR"/>  
        <result column="signedNumber" property="signedNumber"   jdbcType="VARCHAR"/>        
        <result column="reservedNumber" property="reservedNumber"   jdbcType="VARCHAR"/>  
        
        <result column="signedArea" property="signedArea"   jdbcType="VARCHAR"/>  
        <result column="signedAvgPrice" property="signedAvgPrice"   jdbcType="VARCHAR"/>     
        <result column="signedDate" property="signedDate"   jdbcType="VARCHAR"/>  
        <result column="signedTime" property="signedTime"   jdbcType="VARCHAR"/>     
       
      
   </resultMap>  
         
  
   
  <select id="queryPropertyDailySignedByDate" resultMap="PropertyDailySignedResultMap">
    select 
    	propertyTypeCode,propertyId,propertyName,district,signedNumber,reservedNumber,signedArea,signedAvgPrice,signedDate,signedTime 
    from 
    	Property_Daily_Signed 
    where 
    	signedDate = #{signedDate}
  </select>
  
  <select id="queryPropertyDailySignedByDatePropertyTypeCode" resultMap="PropertyDailySignedResultMap">
    select 
    	propertyTypeCode,propertyId,propertyName,district,signedNumber,reservedNumber,signedArea,signedAvgPrice,signedDate,signedTime 
    from 
    	Property_Daily_Signed 
    where 
    	signedDate = #{signedDate}
    	and propertyTypeCode=#{propertyTypeCode}
  </select>
  
  
  
    <select id="queryPropertyDailySignedByDatePropertyTypeCodes" resultMap="PropertyDailySignedResultMap">
    select 
    	propertyTypeCode,propertyId,propertyName,district,signedNumber,reservedNumber,signedArea,signedAvgPrice,signedDate,signedTime 
    from 
    	Property_Daily_Signed 
    where 
    	signedDate = #{signedDate}
    	and propertyTypeCode in 
    	<foreach collection="propertyTypeCodes"  item="propertyTypeCode" index="index" open="(" separator="," close=")">  
  			#{propertyTypeCode}  
 		</foreach>  
 
  </select>
  
   <select id="queryPropertyDailySignedByDateDistrict" resultMap="PropertyDailySignedResultMap">
    select 
    	propertyTypeCode,propertyId,propertyName,district,signedNumber,reservedNumber,signedArea,signedAvgPrice,signedDate,signedTime     
   	from 
   		Property_Daily_Signed
   	where 
   		signedDate = #{signedDate} and district=#{district}
  </select>

  <select id="queryPropertyDailySignedByDatePropertyId" resultMap="PropertyDailySignedResultMap">
    select 
    	propertyTypeCode,propertyId,propertyName,district,signedNumber,reservedNumber,signedArea,signedAvgPrice,signedDate,signedTime 
    from 
    	Property_Daily_Signed
    where 
    	signedDate = #{signedDate} and propertyId=#{propertyId}
  </select>

        <select id="queryPropertyDailySignedByDateRangePropertyId" resultMap="PropertyDailySignedResultMap">
    select 
    	propertyTypeCode,propertyId,propertyName,district,signedNumber,reservedNumber,signedArea,signedAvgPrice,signedDate,signedTime 
    from 
    	Property_Daily_Signed
    where 
    	 signedDate &gt;= #{signedDateFrom}
		and signedDate &lt;= #{signedDateTo}
    	and propertyId=#{propertyId}
  </select>
</mapper>
