<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间,作用就是对sql进行分类化的管理,理解为sql隔离 注意:使用mapper代理开发时，namespace有特殊作用,namespace等于mapper接口地址 -->
<mapper namespace="house.domain.mapper.PropertyPresellSaleStateMapper">


	<resultMap id="PresellSaleStateResultMap" type="house.domain.PropertyPresellSaleState">
	
		<!-- <id column="id" property="id" jdbcType="BIGINT" /> -->
		<result column="propertyId" property="propertyId" jdbcType="VARCHAR" />
		<result column="presellId" property="presellId" jdbcType="VARCHAR" />
		<result column="propertyName" property="propertyName" jdbcType="VARCHAR" />
		<result column="presellName" property="presellName" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="stateChangeTime" property="stateChangeTime" jdbcType="VARCHAR" />

	</resultMap>


	<select id="queryPresellSaleStateByPropertyPresellIdAndStateChangeTime" resultMap="PresellSaleStateResultMap">
	
		select
			propertyId,presellId,propertyName,presellName,content,stateChangeTime
		from 
			Property_Presell_Sale_State 
		where 
			propertyId = #{propertyId,jdbcType=VARCHAR}
			and presellId=#{presellId,jdbcType=VARCHAR}
			and stateChangeTime &gt;= #{stateChangeTimeBegin,jdbcType=VARCHAR}
			and stateChangeTime &lt;= #{stateChangeTimeEnd,jdbcType=VARCHAR}
	</select>

	<select id="queryPresellSaleStateByPropertyIdAndStateChangeTime" resultMap="PresellSaleStateResultMap">
	
		select
			propertyId,presellId,propertyName,presellName,content,stateChangeTime
		from 
			Property_Presell_Sale_State 
		where 
			propertyId = #{propertyId,jdbcType=VARCHAR}
			and stateChangeTime &gt;= #{stateChangeTimeBegin,jdbcType=VARCHAR}
			and stateChangeTime &lt;= #{stateChangeTimeEnd,jdbcType=VARCHAR}
	</select>
	
	<select id="queryPresellSaleStateByPropertyId" resultMap="PresellSaleStateResultMap">
	
		select
			propertyId,presellId,propertyName,presellName,content,stateChangeTime
		from 
			Property_Presell_Sale_State 
		where 
			propertyId = #{propertyId,jdbcType=VARCHAR}
		
	</select>

</mapper>
