<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="autoMappingBehavior" value="PARTIAL" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="defaultStatementTimeout" value="25" />
		<setting name="defaultFetchSize" value="100" />
		<setting name="safeRowBoundsEnabled" value="false" />
		<setting name="mapUnderscoreToCamelCase" value="false" />
		<setting name="localCacheScope" value="SESSION" />
		<setting name="jdbcTypeForNull" value="OTHER" />
		<setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString" />
	</settings>

	<environments default="development">


		<environment id="development">

			<!-- 在 MyBatis 中有两种类型的事务管理器（也就是 type=”[JDBC|MANAGED]”）： -->
			<transactionManager type="JDBC" />


			<!-- dataSource 元素使用标准的 JDBC 数据源接口来配置 JDBC 连接对象的资源。 -->
			<!-- 在 MyBatis 中有3种类型的的数据源（也就是 type=”[POOLED|UNPOOLED|JNDI]”）： -->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://121.43.116.186/house?useUnicode=true&amp;characterEncoding=UTF8" />
				<property name="username" value="house_user" />
				<property name="password" value="house_password" />
			</dataSource>

		</environment>

		<environment id="testThirdPartyDataSource">
			<transactionManager type="JDBC" />

			<!-- <dataSource type="">  除了 [POOLED|UNPOOLED|JNDI] ，以外，要实现DataSourceFactory 接口 -->
		
			<dataSource type="ylj.demo.mybatis.ThirdPartyDataSourceFactory">
				<property name="driverClassName" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://121.43.116.186/house" />
				<property name="username" value="house_user" />
				<property name="password" value="house_password" />
				<property name="maxActive" value="20" />
				<property name="initialSize" value="10" />
				<property name="maxIdle" value="20" />
			</dataSource>

		</environment>

	</environments>
	<mappers>

		<!-- Using classpath relative resources -->
		<mapper resource="mybatis/mappers/PropertyMapper.xml" />
		<mapper resource="mybatis/mappers/PropertyDailySignedMapper.xml" />
		<mapper resource="mybatis/mappers/PropertyHouseSaleStateMapper.xml" />
		<mapper resource="mybatis/mappers/PropertyPresellSaleStateMapper.xml" />
		<mapper resource="mybatis/mappers/UserMapper.xml" />
		<mapper resource="mybatis/mappers/UserSubscribedPropertyMapper.xml" />
	
		
			<!--<mapper resource="ylj/demo/mybatis/*Mapper.xml" /> -->
		<!-- Using url fully qualified paths -->
		
		<!-- <mapper url="file:///var/mappers/BlogMapper.xml"/> -->

		<!-- Using mapper interface classes -->
		<!-- <mapper class="org.mybatis.builder.PostMapper"/> -->

		<!-- Register all interfaces in a package as mappers -->
		<!-- <package name="org.mybatis.builder"/> -->

	</mappers>
</configuration>